common: &common
  smtp_settings:
    :address: 'smtp.gmail.com'
    :port: 587
    :domain: 'domain.of.sender.net'
    :authentication: 'plain'
    :user_name: 'login'
    :password: 'secret'
    :enable_starttls_auto: true

production:
  <<: *common

development:
  <<: *common

test:
  <<: *common
