<h1>Your Pragmatic Cart</h1>
<table>
  <%= render(cart.line_items) %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
    <td>&nbsp;</td>
  </tr>
</table>

<p>
  <%= link_to new_order_path, class: 'btn btn-primary' do %>
    <i class="icon-shopping-cart icon-white"></i> Checkout
  <% end %>

  <%= link_to 'Empty cart', cart, method: :delete, confirm: 'Are you sure?', remote: true, class: 'btn btn-danger' %>
</p>
