/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap
 *= require_tree .
*/

body {
  padding: 60px 0 20px 0; }
h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 19px sans-serif !important;
  color: #333; }

#cart {
  width: 310px !important;
  font-size: 11px; }
#cart h1 {
  border-bottom: 0; }
#cart table {
  border-top: 1px dotted #08c;
  border-bottom: 1px dotted #08c;
  margin-bottom: 10px;
  width: 310px; }

.help-block {
  font-size: 12px; }
