.carts .item_price, #cart .item_price,
.carts .total_line, #cart .total_line {
  text-align: right; }
.carts .item_price, #cart .item_price {
  padding-left: 10px; }
.carts .total_line, #cart .total_line,
.carts .total_cell, #cart .total_cell {
  font-weight: bold; }
.carts .total_cell, #cart .total_cell {
  border-top: 1px solid #08c; }
.carts .decrement, #cart .decrement {
  padding-left: 10px; }
.decrement {
  width: 100px;
  vertical-align: top;
  padding-right: 0;
  padding-top: 2px;
  padding-bottom: 2px; }
